:root{
    --primary-blue: #0e2947;
}

/* Reset básico */
* {
    font-size: 1rem; /* Mantém 14px como base */
    list-style-type: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Compensação do scroll para a altura do cabeçalho */
section {
    scroll-margin-top: 80px; /* Ajuste este valor conforme a altura do cabeçalho */
}

@media (max-width: 768px) {
    section {
        scroll-margin-top: 60px; /* Ajuste menor para dispositivos móveis */
    }
}

/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

.navbar{
    background: #0e2947;
}

.nav-item .btn-custom{
    background: #A4B8D1;
}

/* Efeito hover */
.nav-item .btn-custom:hover {
    background-color: #91bbee; /* Cor personalizada para hover */
}

.nav-item a {
    color: #0e2947;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    letter-spacing: 0.5px;
}

.lead span{
    font-weight: bold;
}

.mt-4 .btn {
    font-weight: bold;
}

#bg-video {
    filter: brightness(50%);
}
section#banner {
    background-attachment: fixed;
}

/* Estilos para o vídeo de fundo */
.banner-section {
    position: relative;
    height: 100vh; /* Altura completa da tela */
    color: white;
    overflow: hidden;
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.815); /* Overlay para melhorar a legibilidade */
    z-index: 1;
}

.banner-section video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    object-fit: cover;
}

.banner-section .content {
    position: relative;
    z-index: 2; /* Conteúdo acima do vídeo */
}
